*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  
}
#toolBar{
  display:flex;
  /* flex-wrap: wrap; */
  padding: 10px 20px 5px 20px;
  background:rgba(211, 211, 211, 0.2);
  /* width:600px; */
  /* height:60px; */
  border-radius:10px;
  position: absolute;
  left:50%;
  top:10px;
  transform: translate(-50%,0);
  box-shadow:  10px 10px 20px #e2e2e2;
}

.tool{
cursor:pointer !important;
  font-size:30px;
  line-height:40px;
  text-align:center;
  margin:auto;
  height:50px;
  width:50px;
}

.control{
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
img{
  height:40px;
  width:40px;
  object-fit: cover;
}
label > img{
  margin-top:20px;
}
.tool:hover{
  color:rebeccapurple;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transform: scale(1.2);
}

.tool:nth-child(9){
    font-size: 35px;
}

.color{
    border-radius: 50%;
    margin:4px;
    width: 30px !important;
    height:30px !important;
}
/*   For color Picker */

.tool:nth-child(10){
  position:relative;
  font-size:28px;
  top:-19px;
}

.tool:nth-child(10) label input,.tool:nth-child(10) label i{
/*   color:red; */
  width:30px;
  height:30px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  cursor:pointer;
}

.tool:nth-child(10) label input{
  z-index:-100;
  opacity:0;
}


/* UNDO REDO */
#undo-redo{
  display:flex;
  background:black;
  justify-content:center;
  position:absolute;
  width:90%;
}

#undo-redo .tool{
  width:40px;
  height:40px;
  margin:0; 
/*   for smooth active and remove */
  transition:all 0.5s;
}

@media(max-width: 630px){
    #toolBar{
        flex-direction: column;
        left:10%;
    }
    .control{
        margin-top:5px;
    }
}